<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../css/reset.css">
    <link rel="stylesheet" href="../../css/common.css">
    <link rel="stylesheet" href="../../css/train/online_learning.css">
    <title>杭州市公安局富阳区分局智慧消防监督管理平台</title>
</head>

<body>
    <div class="common-head">
        <div class="clearfix">
            <div class="fl">
                <a href="javascript:;" class="logo fl">
                    <img src="../../images/0_logo.png" alt="">
                </a>
                <h1 class="fl">杭州市公安局富阳区分局智慧消防监督管理平台</h1>
            </div>
            <div class="fr">
                <!-- <div class="set-index fl">
                    <span onclick="SetHome(this,window.location);">设为首页</span>
                </div>
                <div class="common-split-line fl"></div>
                <div class="set-collect fl">
                    <span onclick="AddFavorite()">加入收藏</span>
                </div>
                <div class="common-split-line fl"></div> -->
                <div class="user fl">
                    <div class="user-img fl">
                        <img src="../../images/0_logo.png" alt="">
                    </div>
                    <span class="fl user-name"></span>
                    <div class="user-more-tool">
                        <div class="user-center">
                            <img src="../../images/index_login/01-home-user.png">
                            <span>个人中心</span>
                        </div>
                        <div class="user-logout">
                            <img src="../../images/index_login/01-home-quicktime.png">
                            <span>退出登录</span>
                        </div>
                    </div>
                </div>
                <div class="no-login fl">
                    <a href="javascript:;">登录</a>
                </div>
            </div>
        </div>
    </div>
    <!-- 导航条开始 -->
    <div class="nav">
        <div class="nav_text warpper clearfix">
            <div class="fl">
                <a href="javascript:;">
                    消防安全教育培训中心
                </a>
            </div>
            <div class="fl active">
                <a href="./index.html">
                    培训中心
                </a>
            </div>
            <div class="fl">
                <a href="./knowledge.html">
                    知识库
                </a>
            </div>
            <div class="fl">
                <a href="./train-data-lib.html">
                    消防资料库
                </a>
            </div>
        </div>
    </div>
    <!-- 导航条结束 -->
    <div class="warpper">
        <div class="onlinelearntop">
            <span>首页</span>
            <span> > </span>
            <span>消防安全教育培训中心</span>
            <span> > </span>
            <span>培训中心在线课堂</span>
        </div>
        <div class="onlinelearnmid clearfix">
            <div class="videodiv fl">
                <div class="videohead"></div>
                <div class="videoArea">
                    
                </div>
            </div>
            <div class="videorelated fr">
                <div class="videolitop">相关视频</div>
                <ul class="videorelatedli">
                </ul>
            </div>
        </div>
        <div class="onlinelearnbottom">
            <div class="relatedclass">
                <div class="relatedtop">课程推荐</div>
            </div>
            <ul class="relatedclassli clearfix">
                
            </ul>
        </div>
    </div>
    <!-- 微信小图标开始 -->
    <div class="wechatimg">
        <img src="../../images/index_login/01-home-advisory.png" alt="图">
    </div>
    <div class="common-foot" style="margin-top:24px;">
        <div class="warpper">
            <div class="fl common-company">                 <p>copyright@杭州富阳公安局</p>                 <p>地址：杭州市富阳区达夫路73号 电话：0571-63155714、0571-63155711</p>             </div>
            <div class="fr">
                <img src="../../images/index/0-login-xiaofang-icon.png" class="sign fl">
                <img src="../../images/index/fuy_code.jpg" class="qrcode fl">
                <p class="fl tips">扫码关注小程序获取更多服务</p>
            </div>
        </div>
    </div>
</body>
<script type="text/html" id="about-list">
    {{each list val index}}
    <li class="clearfix" data-id="{{val.informationId}}">
        <div class="fl">
            <img class="livideo" src="{{val.cover}}"></img>
        </div>
        <div class="aboutvideos fl">
            <div class="videoname">{{val.title}}</div>
            <div class="videotimes">{{val.visitNum}}万次播放量</div>
        </div>
    </li>
    {{/each}}
</script>
<script type="text/html" id="course">
    {{each list val index}}
    <li class="fl" data-id="{{val.informationId}}">
        <div class="aboutvideo">
            <img src="{{val.cover}}" alt="">
        </div>
        <div class="aboutvideoname">{{val.title}}</div>
    </li>
    {{/each}}
</script>

<script src="../../static/jquery.1.11.0.js"></script>
<script src="../../static/template.js"></script>
<script src="../../js/common.js"></script>
<script src="../../js/train/online_learning.js"></script>

</html>