.onlinelearntop {
    font-size: 14px;
    color:#585858;
    border-bottom:1px solid #cfcfcf;
    padding-bottom:26px;
    margin-bottom:20px;
}
.onlinelearntop>span:nth-child(2n-1) {
    cursor: pointer;
}
.videodiv {
    width:866px;
    border:1px solid #cbcbcb;
}
.videohead {
    padding-left: 20px;
    font-size: 16px;
    color:#010002;
    font-weight: 700;
    padding:22px 0 18px 8px;
}
.videoArea {
    width:866px;
    height:474px;
}
.learnvideo {
    width:866px;
    height:474px;
    cursor: pointer;
}
.videorelated {
    width:320px;
    border:1px solid #cecece;
    margin-left:10px;
}
.videolitop {
    padding-left: 20px;
    font-weight: 700;
    line-height: 56px;
    border-bottom: 1px solid #cacaca;
}
.videorelatedli {
    background-color: #212026;
    color:#dbdae0;
    padding:4px 0px 0px 2px;
    height: 470px;
    overflow-y: auto;
}
.videorelatedli li {
    margin-bottom: 8px;
}
.livideo {
    width:160px;
    height:90px;
    margin-right:10px;
    background-color: #dbdae0;
    cursor: pointer;
}
.aboutvideos {
    width:130px;
    margin-top:16px;
}
.videoname {
    font-size: 14px;
    line-height: 20px;
    overflow:hidden; 
    text-overflow:ellipsis;
    display:-webkit-box; 
    -webkit-box-orient:vertical;
    -webkit-line-clamp:2;
    cursor: pointer;
}
.videoname:hover {
    color:#4f90c6;
}
.videotimes {
    font-size: 10px;
    line-height: 16px;
    color:#818086;
    cursor: pointer;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.relatedclass {
    border-top:1px solid #cfcfcf;
    border-bottom: 1px solid #cfcfcf;
    margin:24px 0 26px 0;;
}
.relatedtop {
    width:154px;
    text-align: center;
    font-size: 24px;
    color:#595959;
    line-height: 72px;
    border-bottom:4px solid #4f90c6;
}
.aboutvideo {
    width:280px;
    height:180px;
    background-color: #ccc;
    margin-right: 26px;
}
.aboutvideo img {
    width:280px;
    height:180px;
    border: none;
}
.relatedclassli li {
    cursor: pointer;
}
.relatedclassli li:nth-last-child(1) .aboutvideo {
    margin-right: 0;
}
.aboutvideoname {
    width:280px;
    font-size: 14px;
    color:#585858;
    line-height: 50px;
    margin-bottom: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.aboutvideoname:hover {
    color:#4f90c6;
}