
html{
    min-height: 100%;
    max-height: 100%;
    height: 100%;
    overflow-y: auto;
}
body {
    position: relative;
    box-sizing: border-box;
    padding: 122px 0 144px;
    width: 100%;
    min-height: 100%;
}
.common-head {
    position: absolute;
    top: 0;
    left: 0;
}
.common-foot {
    position: absolute;
    bottom: 0;
    left: 0;
}

.common-head, .common-foot {
    width: 100%;
    height: 122px;
    background-repeat: repeat-y;
    background-image: url(../images/index_login/01-header-bg.png);
    background-size: 100% 100%;
}
.common-head>div {
    width: 100%;
    max-width: 1366px;
    margin:0 auto;
}
.common-head .logo {
    height:122px;
    padding-left: 70px;
    font-size: 44px;
    line-height: 122px;
    text-align: center;
    color: #9cc1d1;
}
.logo img{
    height:80px;
    margin-top: 21px;
    vertical-align: top;
}
.common-head h1 {
    padding-left: 10px;
    font-size: 22px;
    font-weight: 500;
    line-height: 122px;
    color: #9cc1d1;
    letter-spacing: 4px;
}
.set-index, .set-collect {
    padding-left: 34px;
    line-height: 122px;
    font-size: 16px;
    color: #9cc1d1;
    background-position: -10px center;
    background-repeat: no-repeat;
    cursor: pointer;
}
.set-index {
    background-image: url(../images/index/0-login-home.png);
}
.set-index:hover {
    color: #ccf5f7;
    text-shadow: 0 0 10px #ccf5f7;
    background-image: url(../images/index/0-login-home-hover.png);
}
.set-collect {
    background-image: url(../images/index/0-login-favourite.png);
}
.set-collect:hover {
    color: #ccf5f7;
    text-shadow: 0 0 10px #ccf5f7;
    background-image: url(../images/index/0-login-favourite-hover.png);
}
.common-split-line {
    width: 30px;
    height: 122px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../images/index/0-login-line2.png);
}
.common-head .user-img {
    width: 52px;
    height: 52px;
    margin-top: 35px;
    margin-right: 8px;
}
.common-head .user-img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.common-head .user {
    display: none;
    position: relative;
    padding-right: 48px;
    cursor: pointer;
}
.common-head .user>span {
    line-height: 122px;
    font-size: 16px;
    color: #9cc1d1;
}
.common-head .user:hover {
    color: #ccf5f7;
    text-shadow: 0 0 10px #ccf5f7;
}
.common-head .user .user-more-tool {
    display: none;
    position: absolute;
    top: 122px;
    right: 2px;
    width: 148px;
}
.user-more-tool>div:hover {
    background-color: #eee;
 }
.user-more-tool>div {
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 14px;
    color: #585858;
    border: 1px solid #ccc;
    background-color: #fff;
}
.user-more-tool .user-center {
    border-bottom: none;
}
.user-more-tool>div img{
    vertical-align: text-bottom;
    margin-right: 10px;
 }
 .common-head .no-login {
    padding: 0 48px 0 4px;
 }
 .common-head .no-login a{
    font-size: 16px;
    line-height: 122px;
    color: #9cc1d1;
 }
 .common-head .no-login a:hover {
    color: #ccf5f7;
    text-shadow: 0 0 10px #ccf5f7;
  }
.common-foot .common-company {
    line-height: 24px;
    padding: 37px 0;
    font-size: 16px;
    color: #9cc1d1;
}
.common-foot img {
    width: 90px;
    height: 90px;
    margin-top: 16px;
    margin-right: 20px;
}
.common-foot .tips {
    width: 120px;
    margin-top: 33px;
    line-height: 28px;
    font-size: 16px;
    color: #9cc1d1;
}

.warpper>img {
    width: 100%;
}

.nav {
    width:100%;
    height:74px;
    border-bottom: 1px solid #5091c7;
    margin-bottom: 26px;
}
.nav a {
    color:#676767;
}
.nav_text {
    line-height: 74px;
    font-size:18px;
}
.nav_text>div{
    padding: 0 70px 0 70px;
}
.nav_text>div:not(1):hover {
    height:72px;
    color:#4f92c9;
    border-bottom: 4px solid #4f92c7;
}
/* 微信图 */
.wechatimg {
    display: none;
    width:50px;
    height:50px;
    position:fixed;
    right:10px;
    bottom:220px;
    cursor: pointer;
}
 /* 用后删除开始 */
.nav .active {
    height:72px;
    border-bottom: 4px solid #4f92c7;
}
.nav .active a {
    color:#4f92c9;
}
/* 用后删除结束 */
.score_num {
    display: none;
    font-weight: bold;
    color: #333;
    font-size: 14px;
    line-height: 20px;
    margin-top: 52px;
}