<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>智慧服务中心</title>
    <link rel="stylesheet" href="../../css/swiper.min.css">
    <link rel="stylesheet" href="../../css/reset.css">
    <link rel="stylesheet" href="../../static/iconfont_my/iconfont.css">
    <link rel="stylesheet" href="../../css/common.css">
    <link rel="stylesheet" href="../../css/SmartServiceCenter/index.css">
</head>

<body>
    <!-- 头部开始 -->
    <div class="common-head">
        <div class="clearfix">
            <div class="fl">
                <a href="javascript:;" class="logo fl">
                    <img src="../../images/0_logo.png" alt="">
                </a>
                <h1 class="fl">杭州市公安局富阳区分局智慧消防监督管理平台</h1>
            </div>
            <div class="fr">
                <!-- <div class="set-index fl">
                    <span onclick="SetHome(this,window.location);">设为首页</span>
                </div>
                <div class="common-split-line fl"></div>
                <div class="set-collect fl">
                    <span onclick="AddFavorite()">加入收藏</span>
                </div>
                <div class="common-split-line fl"></div> -->
                <div class="user fl">
                    <div class="user-img fl">
                        <img src="../../images/0_logo.png" alt="">
                    </div>
                    <span class="fl user-name"></span>
                    <div class="user-more-tool">
                        <div class="user-center">
                            <img src="../../images/index_login/01-home-user.png">
                            <span>个人中心</span>
                        </div>
                        <div class="user-logout">
                            <img src="../../images/index_login/01-home-quicktime.png">
                            <span>退出登录</span>
                        </div>
                    </div>
                </div>
                <div class="no-login fl">
                    <a href="javascript:;">登录</a>
                </div>
            </div>
        </div>
    </div>
    <!-- 头部结束 -->
    <!-- 导航条开始 -->
    <div class="nav">
        <div class="nav_text warpper clearfix">
            <div class="fl">
                <a href="javascript:;">
                    第三方消防中介智慧服务中心
                </a>
            </div>
            <div class="fl active">
                <a href="#">
                    产品采购
                </a>
            </div>
            <div class="fl">
                <a href="./admit_center.html">
                    认证中心
                </a>
            </div>
            <div class="fl">
                <a href="./manage_mygoods.html">
                    商家管理
                </a>
            </div>
        </div>
    </div>
    <!-- 导航条结束 -->
    <!-- 内容开始 -->
    <div class="warpper clearfix">
        <div class="all_product clearfix">
            <div class="all_product_left fl">
                <div class="all_product_title">全国消防商品分类</div>
                <ul class="goodsnav">
                </ul>
            </div>
            <div class="all_product_right fl">
                <div class="lunbotu">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            
                        </div>
                        <!-- Add Pagination -->
                        <div class="swiper-pagination" style="z-index:9;"></div>
                        <!-- Add Arrows -->
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                    </div>
                </div>
                <div class="news_product">
                    <div class="area_head">
                        <div class="bgnews">
                            <span>新产品发布</span>
                            <span class="newstext">NEWS</span>
                        </div>
                    </div>
                    <div class="area_body clearfix">
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="getfloors">
            
        </div>
    </div>
    <!-- 内容结束 -->
    <!-- 微信小图标开始 -->
    <div class="wechatimg">
        <img src="../../images/index_login/01-home-advisory.png" alt="图">
    </div>
    <!-- 底部开始 -->
    <div class="common-foot" style="margin-top:22px;">
        <div class="warpper">
            <div class="fl common-company">                 <p>copyright@杭州富阳公安局</p>                 <p>地址：杭州市富阳区达夫路73号 电话：0571-63155714、0571-63155711</p>             </div>
            <div class="fr">
                <img src="../../images/index/0-login-xiaofang-icon.png" class="sign fl">
                <img src="../../images/index/fuy_code.jpg" class="qrcode fl">
                <p class="fl tips">扫码关注小程序获取更多服务</p>
            </div>
        </div>
    </div>
    <!-- 底部结束 -->
</body>
<script type="text/html" id="main-menu">
    {{each list val index}}
    <li class="all_product_name clearfix" data-categorytype="{{val.categoryType}}" data-categoryid="{{val.categoryId    }}">
        <div class="fl">{{val.name}}</div>
        <div class="fr">
            <i class="iconfont">&#xe6c7;</i>
        </div>
        <div class="secondnav">
            <ul class="clearfix">
            </ul>
        </div>
    </li>
    {{/each}}
</script>
<script type="text/html" id="new-product">
    {{each list val index}}
    <div class="goodsimg fl" data-categorytype="{{val.categoryType}}" data-categoryid="{{val.productId}}">
        <img src="{{val.cover}}">
    </div>
    {{/each}}
</script>
<script type="text/html" id="swiperdivimg">
    {{each list val index}}
    <div class="swiper-slide" data-id="{{val.bannerId}}">
        <img class="swiperimg" src="{{val.bannerUrl}}">
    </div>
    {{/each}}
</script>
<script type="text/html" id="detail-menu">
    {{each list val index}}
    <li class="goods-item fl" data-categorytype="{{val.categoryType}}" data-categoryid="{{val.categoryId}}">
        <a href="#">{{val.name}}</a>
    </li>
    {{/each}}
</script>
<script type="text/html" id="forfloor">
    <div class="product_middle clearfix" data-category-id="{{id}}">
        <div class="area_head">
            <div class="bgnews">
                <span>{{title}}</span>
            </div>
        </div>
        <div class="clearfix">
            <div class="fire_eq_nav fl">
                <div class="fire_nav_head tablecolumn clearfix">
                    <div class="fl fire_nav_title tableswitch clickswitchtb">热销专区</div>
                    <div class="fl fire_nav_title tableswitch">新品推荐</div>
                </div>
                <div class="sell_well">
                    <ul class="goodsli">
                        <li class="clearfix">
                            <div class="showimg fl">
                                <img src="../../images/SmartServiceCenter/05-index_03.jpg" alt="">
                            </div>
                            <div class="goods_introduce fl">
                                <div class="subnavname">手提式干粉灭火器MFZ/ABC3</div>
                                <div class="goodsprice">¥85.00</div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="fire_eq_img fl">
                <ul class="showlist clearfix">
                    {{each list val index}}
                    <li class="fl">
                        <a href="./product_details.html?pro_id={{val.productId}}">
                            <div class="fireimgs">
                                <img src="{{val.cover}}" alt="">
                            </div>
                            <div class="fire_eq_price">¥{{val.price}}元</div>
                            <div class="fire_eq_name">{{val.title}}</div>
                        </a>
                    </li>
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
</script>
<script type="text/html" id="floornav">
    {{each list val index}}
        <li>
            <a class="clearfix" href="./product_details.html?pro_id={{val.productId}}">
                <div class="showimg fl">
                    <img src="{{val.cover}}" alt="">
                </div>
                <div class="goods_introduce fl">
                    <div class="subnavname">{{val.title}}</div>
                    <div class="goodsprice">¥{{val.price}}</div>
                </div>
            </a>
        </li>
    {{/each}}
</script>
<script src="../../static/jquery.1.11.0.js"></script>
<script src="../../static/swiper.min.js"></script>
<script src="../../js/common.js"></script>
<script src="../../static/template.js"></script>
<script src="../../js/SmartServiceCenter/index.js"></script>
<script>
    
</script>

</html>