input,select,textarea,button {
    outline: none;
}
.volunteercenter_out {
    border:1px solid #e4e4e4;
}
.beginactive {
    line-height: 58px;
    border-bottom: 1px solid #e4e4e4;
    background-color: #fafafa;
    color:#595959;
    font-size: 16px;
    padding-left:30px;
}
.table_cell {
    width:100%;
    display:table-cell;
    vertical-align: middle;
    text-align: right;
    line-height: 20px;
}
.cell_item {
    display:inline-block;
    line-height: 50px;
    font-size:14px;
    color:#727272;
    width:136px;
    text-align: right;
}
.cell_input {
    width:386px;
    height:38px;
    border:1px solid #eee;
    margin-left:10px;
    padding: 0 10px;
}
.cell_textarea {
    width:386px;
    margin-left:10px;
    vertical-align: top;
    padding: 8px 10px;
    border:1px solid #eee;
}
.cell_select_4 {
    margin-left:10px;
    width:166px;
    height:42px;
    border:1px solid #eee;
}
.submitdiv {
    margin:30px 26px 0 26px;
    border-top:1px dashed #dfdfdf;
    padding:60px 0;
}
.certificatesubmit {
    display:block;
    width:200px;
    height:42px;
    border:none;
    border-radius: 4px;
    color:#fff;
    background-color: #4f90c6;
    font-size:16px;
    margin:0 auto;
    cursor: pointer;
}
.starttime,.endtime {
    width:166px;
    height: 40px;
    padding-left:8px;
    outline: none;
    border:1px solid #eee;
}
.starttime {
    margin-left:10px;
}
.p_resquest {
    width:406px;
    height:40px;
    border:1px solid #eee;
    margin-left:10px;
}
.act-img {
    margin-top: 10px;
    margin-left: 10px;
    width: 80px;
    height: 80px;
}
.act-img img {
   width: 80px;
   height: 80px;      
   vertical-align: middle;
}
.act-file {
    display: none;
}