<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../css/reset.css">
    <link rel="stylesheet" href="../../css/common.css">
    <link rel="stylesheet" href="../../css/train/unline_learning.css">
    <title>杭州市公安局富阳区分局智慧消防监督管理平台</title>
</head>

<body>
    <div class="common-head">
        <div class="clearfix">
            <div class="fl">
                <a href="javascript:;" class="logo fl">
                    <img src="../../images/0_logo.png" alt="">
                </a>
                <h1 class="fl">杭州市公安局富阳区分局智慧消防监督管理平台</h1>
            </div>
            <div class="fr">
                <!-- <div class="set-index fl">
                    <span onclick="SetHome(this,window.location);">设为首页</span>
                </div>
                <div class="common-split-line fl"></div>
                <div class="set-collect fl">
                    <span onclick="AddFavorite()">加入收藏</span>
                </div>
                <div class="common-split-line fl"></div> -->
                <div class="user fl">
                    <div class="user-img fl">
                        <img src="../../images/0_logo.png" alt="">
                    </div>
                    <span class="fl user-name"></span>
                    <div class="user-more-tool">
                        <div class="user-center">
                            <img src="../../images/index_login/01-home-user.png">
                            <span>个人中心</span>
                        </div>
                        <div class="user-logout">
                            <img src="../../images/index_login/01-home-quicktime.png">
                            <span>退出登录</span>
                        </div>
                    </div>
                </div>
                <div class="no-login fl">
                    <a href="javascript:;">登录</a>
                </div>
            </div>
        </div>
    </div>
    <!-- 导航条开始 -->
    <div class="nav">
        <div class="nav_text warpper clearfix">
            <div class="convenient_center fl">
                <a href="javascript:;">消防志愿者智慧中心</a>
            </div>
            <div class="online_do fl active">
                <a href="javascript:;">活动中心</a>
            </div>
            <div class="appointment_visit fl">
                <a href="./general_authentication.html">认证中心</a>
            </div>
            <div class="appointment_visit fl">
                <a href="./general_score.html">积分中心</a>
            </div>
            <p class="score_num fr">
                <span>普通志愿者</span> --- 我的积分：<span class="score"></span>
            </p>
        </div>
    </div>
    <!-- 导航条结束 -->
    <div class="warpper">
        <div class="unlinelearnmid clearfix">
        </div>
        <div class="unlinelearnbottom clearfix">
            <div class="fl">
                <div class="classsubnav tablecolumn clearfix">
                    <div class="fl tableswitch clickswitchtb">活动详情</div>
                    <div class="fl tableswitch">常见问题</div>
                </div>
                <div class="moredetail">
                    
                </div>
                <div class="commonproblem" style="display:none;"></div>
            </div>
            <div class="fr">
                <div class="relativeclasstop">课程推荐</div>
                <ul class="relativeclassul">
                    
                </ul>
            </div>
        </div>
    </div>
    <!-- 微信小图标开始 -->
    <div class="wechatimg">
        <img src="../../images/index_login/01-home-advisory.png" alt="图">
    </div>
    <div class="common-foot" style="margin-top:24px;">
        <div class="warpper">
            <div class="fl common-company">                 <p>copyright@杭州富阳公安局</p>                 <p>地址：杭州市富阳区达夫路73号 电话：0571-63155714、0571-63155711</p>             </div>
            <div class="fr">
                <img src="../../images/index/0-login-xiaofang-icon.png" class="sign fl">
                <img src="../../images/index/fuy_code.jpg" class="qrcode fl">
                <p class="fl tips">扫码关注小程序获取更多服务</p>
            </div>
        </div>
    </div>
    <!-- 弹窗开始 -->
    <div class="myconfirm">
        <div class="white_div">
            <div class="closedx">X</div>
            <div class="confirm_tips">报名成功,请按时参加学习!</div>
        </div>
    </div>
    <!-- 弹窗结束 -->
</body>
<script type="text/html" id="info">
    <div class="classimg fl">
        <img src={{cover}}>
    </div>
    <div class="fl">
        <div class="underclassname">{{title}}</div>
        <ul class="underclassdetail">
            <li>
                <span>活动人数 :&nbsp;</span>
                <span>{{menNum}}</span>
            </li>
            <li>
                <span>开始时间 :&nbsp;</span>
                <span>{{startTime}}</span>
            </li>
            <li>
                <span>结束时间 :&nbsp;</span>
                <span>{{endTime}}</span>
            </li>
            <!-- <li>
                <span> :&nbsp;</span>
                <span>{{categoryId}}</span>
            </li> -->
            <li>
                <span>活动地点 :&nbsp;</span>
                <span>{{address}}</span>
            </li>
        </ul>
        <button class="signupbtn">立即报名</button>
    </div>
</script>
<script type="text/html" id="described">
    <div style="width:770px;padding-left:24px;">{{describe}}</div>
</script>
<script type="text/html" id="questioned">
    <div style="width:770px;padding-left:24px;">{{describe}}</div>
</script>
<script type="text/html" id="tuijian">
    {{each list val index}}
    <li data-id="{{val.activityId}}">
        <div class="relativeclassimg">
            <img src="{{val.cover}}">
        </div>
        <div class="relativeclassname">{{val.title}}</div>
    </li>
    {{/each}}
</script>
<script src="../../static/jquery.1.11.0.js"></script>
<script src="../../static/template.js"></script>
<script src="../../js/common.js"></script>
<script src="../../js/VolunteerCenter/activity_info.js"></script>

</html>