<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../css/reset.css">
    <link rel="stylesheet" href="../../css/common.css">
    <link rel="stylesheet" href="../../css/user-center/user.css">
    <link rel="stylesheet" href="../../css/VolunteerCenter/professional_accreditation.css">
    <title>杭州市公安局富阳区分局智慧消防监督管理平台</title>
</head>

<body>
    <div class="common-head">
        <div class="clearfix">
            <div class="fl">
                <a href="javascript:;" class="logo fl">
                    <img src="../../images/0_logo.png" alt="">
                </a>
                <h1 class="fl">杭州市公安局富阳区分局智慧消防监督管理平台</h1>
            </div>
            <div class="fr">
                <!-- <div class="set-index fl">
                    <span onclick="SetHome(this,window.location);">设为首页</span>
                </div>
                <div class="common-split-line fl"></div>
                <div class="set-collect fl">
                    <span onclick="AddFavorite()">加入收藏</span>
                </div>
                <div class="common-split-line fl"></div> -->
                <div class="user fl">
                    <div class="user-img fl">
                        <img src="../../images/0_logo.png" alt="">
                    </div>
                    <span class="fl user-name"></span>
                    <div class="user-more-tool">
                        <div class="user-center">
                            <img src="../../images/index_login/01-home-user.png">
                            <span>个人中心</span>
                        </div>
                        <div class="user-logout">
                            <img src="../../images/index_login/01-home-quicktime.png">
                            <span>退出登录</span>
                        </div>
                    </div>
                </div>
                <div class="no-login fl">
                    <a href="javascript:;">登录</a>
                </div>
            </div>
        </div>
    </div>
    <!-- 导航条开始 -->
    <div class="nav">
        <div class="nav_text warpper clearfix">
            <div class="convenient_center fl">
                <a href="javascript:;">消防志愿者智慧中心</a>
            </div>
            <div class="online_do fl">
                <a href="./index.html">活动中心</a>
            </div>
            <div class="appointment_visit fl active">
                <a href="./general_authentication.html">认证中心</a>
            </div>
            <p class="score_num fr">
                <span>普通志愿者</span> --- 我的积分：<span class="score"></span>
            </p>
        </div>
    </div>
    <!-- 导航条结束 -->
    <div class="warpper">
        <div class="content clearfix">
            <div class="fl menu">
                <div class="menu-general">
                    <span>认证中心</span>
                </div>
                <ul>
                    <li class="menu-list">
                        <a href="./general_authentication.html" class="">
                            <img src="../../images/SmartServiceCenter/04-icon-01.png">
                            <span>普通志愿者认证</span>
                        </a>
                    </li>
                    <li class="menu-list">
                        <a href="./professional_accreditation.html" class="active">
                            <img src="../../images/SmartServiceCenter/04-icon-02-click.png">
                            <span>专业志愿者认证</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="fl handle">
                <div class="intr">
                    <h2>专业志愿者认证说明</h2>
                    <p>消防志愿者条件：</p>
                    <p>1、十四周岁至七十周岁，身体健康，中国公民；</p>
                    <p>2、具有奉献精神，能够拿出一定的时间和精力用于消防志愿服务事业；</p>
                    <p>3、自愿加入杭州市消防志愿者组织、遵守组织规章并在其中积极工作，能够参加消防培训、从事消防宣传，服从消防志愿者服务支队管理；</p>
                    <p>4、遵守国家法律法规和消防志愿者服务支队相关制度规定。</p>
                    <a href="https://jinshuju.net/f/CODN4C" target="_blank">开始认证</a>
                </div>
            </div>
        </div>
    </div>
    <div class="common-foot">
        <div class="warpper">
            <div class="fl common-company">                 <p>copyright@杭州富阳公安局</p>                 <p>地址：杭州市富阳区达夫路73号 电话：0571-63155714、0571-63155711</p>             </div>
            <div class="fr">
                <img src="../../images/index/0-login-xiaofang-icon.png" class="sign fl">
                <img src="../../images/index/fuy_code.jpg" class="qrcode fl">
                <p class="fl tips">扫码关注小程序获取更多服务</p>
            </div>
        </div>
    </div>
    <script src="../../static/jquery.1.11.0.js"></script>
    <script src="../../js/common.js"></script>
    <script src="../../js/VolunteerCenter/professional_accreditation.js"></script>
</body>

</html>