<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/reset.css">
    <!-- <link rel="stylesheet" href="../css/common.css"> -->
    <link rel="stylesheet" href="../css/binding_phonenum.css">
    <title>杭州市公安局富阳区分局智慧消防监督管理平台</title>
</head>
<body>
    <div class="div_box">
        <div class="toptext">
            <h2>请绑定账号手机信息</h2>
        </div>
        <div class="phonenumber">
            <span>手机号 :</span>
            <input class="input_phone" type="text" placeholder="请输入手机号">
        </div>
        <div class="key_code">
            <span>验证码 :</span>
            <input class="input_keycode" type="text" placeholder="请输入验证码">
            <button class="get_keybtn">获取验证码</button>
        </div>
        <div class="upbtndiv">
            <button class="submitbtn">确认提交</button>
        </div>
    </div>
</body>
<script src="../static/jquery.1.11.0.js"></script>
<script src="../js/binding_phonenum.js"></script>
</html>