<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/reset.css">
    <!-- <link rel="stylesheet" href="../css/common.css"> -->
    <link rel="stylesheet" href="../css/login.css">
    <title>杭州市公安局富阳区分局智慧消防监督管理平台</title>
</head>
<body>
    <div class="mainout">
        <div class="logintop clearfix">
            <div class="tophover fl">登录</div>
            <div class="fl">注册</div>
        </div>
        <div class="logindiv">
            <div class="loginout">
                <div class="linputdiv clearfix">
                    <div class="fl">账号</div>
                    <div class="fl">
                        <input class="accountnum" type="text" placeholder="请输入账号">
                    </div>
                </div>
                <div class="linputdiv clearfix">
                    <div class="fl">密码</div>
                    <div class="fl">
                        <input class="password" type="password" placeholder="请输入密码">
                    </div>
                </div>
                <div class="lattention">账号或密码输入有误</div>
                <div class="tools">
                    <button class="loginbtn">登&nbsp;录</button>
                    <button class="loginbtn">返&nbsp;回&nbsp;主&nbsp;页</button>
                </div>
            </div>
        </div>
        <div class="registerdiv">
            <div class="loginout" style="padding-top:30px;">
                <!-- <div class="rinput clearfix">
                    <div class="fl">姓名</div>
                    <div class="fl">
                        <input type="text" placeholder="请输入姓名">
                    </div>
                </div>
                <div class="rinput clearfix">
                    <div class="fl">身份证号</div>
                    <div class="fl">
                        <input type="text" placeholder="请输入身份证号">
                    </div>
                </div> -->
                <div class="rinput clearfix">
                    <div class="fl"><i class="required">*</i>手机号</div>
                    <div class="fl">
                        <input class="zctel" type="text" placeholder="请输入手机号">
                    </div>
                </div>
                <div class="rinput clearfix">
                    <div class="fl"><i class="required">*</i>密码</div>
                    <div class="fl">
                        <input class="zcpassword" type="password" placeholder="请输入密码">
                    </div>
                </div>
                <div class="rinput clearfix">
                    <div class="fl"><i class="required">*</i>重复密码</div>
                    <div class="fl">
                        <input class="repeatpass" type="password" placeholder="请再次输入密码">
                    </div>
                </div>
                <div class="tools">
                    <button class="registerbtn">注&nbsp;册</button> 
                    <button class="loginbtn">返&nbsp;回&nbsp;主&nbsp;页</button>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="../static/jquery.1.11.0.js"></script>
<script src="../js/common.js"></script>
<script src="../js/login.js"></script>
</html>